{% extends "base.html" %}

{% block page_content %}

<div class="container mx-auto">
    <div class="max-w-4xl mx-auto">
        <div class="bg-white border border-gray-300 rounded-lg shadow-sm">
            <div class="p-4">
                <h2 class="text-lg font-semibold mb-2">Customers</h2>
                <div class="overflow-x-auto">
                    <table class="min-w-full">
                        <thead>
                            <tr>
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Customer</th>
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Name</th>
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Contact</th>
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Country</th>
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Products</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            <!-- Your table data rows go here -->
                            {% for customer in customers %}
                            <tr>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">{{customer.customer}}
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">{{customer.name}}</td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">{{customer.contact}}
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">{{customer.country}}
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <a href="{% url 'products' customer.pk %}" class="btn btn-primary">

                                        See products
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
​

{% endblock page_content %}